[worldserver]

########################################
# Guild Points System Configuration
########################################

#
#    GuildPoints.Enable
#        Description: Enable/Disable the module
#        Default:     1 (enabled)
#                    0 (disabled)
#

GuildPoints.Enable = 1

#
#    GuildPoints.MinGuildMemberPercentage
#        Description: Minimum percentage of guild members required in raid for guild run
#        Default:     80
#

GuildPoints.MinGuildMemberPercentage = 80

#
#    GuildPoints.MaxDistance
#        Description: Maximum allowed distance from raid leader (in yards)
#        Default:     1000 (Increased for larger raids like ICC and Ulduar)
#

GuildPoints.MaxDistance = 1000

#
#    GuildPoints.SpellSystem.Enabled
#        Description: Enable/Disable spell system
#        Default:     1 (enabled)
#                    0 (disabled)
#

GuildPoints.SpellSystem.Enabled = 1

#
#    GuildPoints.Debuffs
#        Description: Debuff IDs to remove after boss kill (separate with spaces)
#        Example:     "69127 69129 69130"
#

GuildPoints.Debuffs = ""

#
#    GuildPoints.Spells
#        Description: Spell IDs to cast after boss kill (separate with spaces)
#        Example:     "71620 71621 71622"
#

GuildPoints.Spells = ""

###################################
# Raid Boss Points Configuration
###################################

#
# Naxxramas (10/25)
#
GuildPoints.10Normal.Anubrekhan = 10
GuildPoints.10Normal.GrandWidowFaerlina = 10
GuildPoints.10Normal.Maexxna = 10
GuildPoints.10Normal.NothThePlaguebringer = 10
GuildPoints.10Normal.Heigan = 10
GuildPoints.10Normal.Loatheb = 10
GuildPoints.10Normal.InstructorRazuvious = 10
GuildPoints.10Normal.GothikTheHarvester = 10
GuildPoints.10Normal.FourHorsemen = 10
GuildPoints.10Normal.Patchwerk = 10
GuildPoints.10Normal.Grobbulus = 10
GuildPoints.10Normal.Gluth = 10
GuildPoints.10Normal.Thaddius = 10
GuildPoints.10Normal.Sapphiron = 10
GuildPoints.10Normal.KelThuzad = 10

GuildPoints.25Normal.Anubrekhan = 20
GuildPoints.25Normal.GrandWidowFaerlina = 20
GuildPoints.25Normal.Maexxna = 20
GuildPoints.25Normal.NothThePlaguebringer = 20
GuildPoints.25Normal.Heigan = 20
GuildPoints.25Normal.Loatheb = 20
GuildPoints.25Normal.InstructorRazuvious = 20
GuildPoints.25Normal.GothikTheHarvester = 20
GuildPoints.25Normal.FourHorsemen = 20
GuildPoints.25Normal.Patchwerk = 20
GuildPoints.25Normal.Grobbulus = 20
GuildPoints.25Normal.Gluth = 20
GuildPoints.25Normal.Thaddius = 20
GuildPoints.25Normal.Sapphiron = 20
GuildPoints.25Normal.KelThuzad = 20

#
# Eye of Eternity (10/25)
#
GuildPoints.10Normal.Malygos = 10
GuildPoints.25Normal.Malygos = 20

#
# Obsidian Sanctum (10/25)
#
GuildPoints.10Normal.Sartharion = 10
GuildPoints.25Normal.Sartharion = 20

#
# Ulduar (10/25) - 
#
GuildPoints.10Normal.FlameLeviathan = 10
GuildPoints.10Normal.Ignis = 10
GuildPoints.10Normal.Razorscale = 10
GuildPoints.10Normal.XT002 = 13      # Hardmode available
GuildPoints.10Normal.IronCouncil = 13 # Hardmode available
GuildPoints.10Normal.Kologarn = 10
GuildPoints.10Normal.Auriaya = 10
GuildPoints.10Normal.Hodir = 13      # Hardmode available
GuildPoints.10Normal.Thorim = 13     # Hardmode available
GuildPoints.10Normal.Freya = 13      # Hardmode available
GuildPoints.10Normal.Mimiron = 13    # Hardmode available
GuildPoints.10Normal.GeneralVezax = 13 # Hardmode available
GuildPoints.10Normal.YoggSaron = 13   # Hardmode available
GuildPoints.10Normal.Algalon = 13

GuildPoints.25Normal.FlameLeviathan = 20
GuildPoints.25Normal.Ignis = 20
GuildPoints.25Normal.Razorscale = 20
GuildPoints.25Normal.XT002 = 23      # Hardmode available
GuildPoints.25Normal.IronCouncil = 23 # Hardmode available
GuildPoints.25Normal.Kologarn = 20
GuildPoints.25Normal.Auriaya = 20
GuildPoints.25Normal.Hodir = 23      # Hardmode available
GuildPoints.25Normal.Thorim = 23     # Hardmode available
GuildPoints.25Normal.Freya = 23      # Hardmode available
GuildPoints.25Normal.Mimiron = 23    # Hardmode available
GuildPoints.25Normal.GeneralVezax = 23 # Hardmode available
GuildPoints.25Normal.YoggSaron = 23   # Hardmode available
GuildPoints.25Normal.Algalon = 23

#
# Trial of the Crusader (10/25 Normal/Heroic)
#
GuildPoints.10Normal.NorthrendBeasts = 10
GuildPoints.10Normal.LordJaraxxus = 10
GuildPoints.10Normal.FactionChampions = 10
GuildPoints.10Normal.TwinValkyrs = 10
GuildPoints.10Normal.Anubarak = 10

GuildPoints.25Normal.NorthrendBeasts = 20
GuildPoints.25Normal.LordJaraxxus = 20
GuildPoints.25Normal.FactionChampions = 20
GuildPoints.25Normal.TwinValkyrs = 20
GuildPoints.25Normal.Anubarak = 20

GuildPoints.10Heroic.NorthrendBeasts = 15
GuildPoints.10Heroic.LordJaraxxus = 15
GuildPoints.10Heroic.FactionChampions = 15
GuildPoints.10Heroic.TwinValkyrs = 15
GuildPoints.10Heroic.Anubarak = 15

GuildPoints.25Heroic.NorthrendBeasts = 25
GuildPoints.25Heroic.LordJaraxxus = 25
GuildPoints.25Heroic.FactionChampions = 25
GuildPoints.25Heroic.TwinValkyrs = 25
GuildPoints.25Heroic.Anubarak = 25

#
# Onyxia's Lair (10/25)
#
GuildPoints.10Normal.Onyxia = 10
GuildPoints.25Normal.Onyxia = 20

#
# Icecrown Citadel (10/25 Normal/Heroic)
#
GuildPoints.10Normal.LordMarrowgar = 10
GuildPoints.10Normal.LadyDeathwhisper = 10
GuildPoints.10Normal.GunshipBattle = 10
GuildPoints.10Normal.Deathbringer = 15
GuildPoints.10Normal.Festergut = 15
GuildPoints.10Normal.Rotface = 15
GuildPoints.10Normal.ProfessorPutricide = 20
GuildPoints.10Normal.BloodPrinceCouncil = 15
GuildPoints.10Normal.BloodQueenLanathel = 20
GuildPoints.10Normal.ValithriaDreamwalker = 15
GuildPoints.10Normal.SindragosaDragonQueen = 20
GuildPoints.10Normal.TheLichKing = 30

GuildPoints.25Normal.LordMarrowgar = 15
GuildPoints.25Normal.LadyDeathwhisper = 15
GuildPoints.25Normal.GunshipBattle = 15
GuildPoints.25Normal.Deathbringer = 20
GuildPoints.25Normal.Festergut = 20
GuildPoints.25Normal.Rotface = 20
GuildPoints.25Normal.ProfessorPutricide = 25
GuildPoints.25Normal.BloodPrinceCouncil = 20
GuildPoints.25Normal.BloodQueenLanathel = 25
GuildPoints.25Normal.ValithriaDreamwalker = 20
GuildPoints.25Normal.SindragosaDragonQueen = 25
GuildPoints.25Normal.TheLichKing = 35

GuildPoints.10Heroic.LordMarrowgar = 20
GuildPoints.10Heroic.LadyDeathwhisper = 20
GuildPoints.10Heroic.GunshipBattle = 20
GuildPoints.10Heroic.Deathbringer = 25
GuildPoints.10Heroic.Festergut = 25
GuildPoints.10Heroic.Rotface = 25
GuildPoints.10Heroic.ProfessorPutricide = 30
GuildPoints.10Heroic.BloodPrinceCouncil = 25
GuildPoints.10Heroic.BloodQueenLanathel = 30
GuildPoints.10Heroic.ValithriaDreamwalker = 25
GuildPoints.10Heroic.SindragosaDragonQueen = 30
GuildPoints.10Heroic.TheLichKing = 40

GuildPoints.25Heroic.LordMarrowgar = 25
GuildPoints.25Heroic.LadyDeathwhisper = 25
GuildPoints.25Heroic.GunshipBattle = 25
GuildPoints.25Heroic.Deathbringer = 30
GuildPoints.25Heroic.Festergut = 30
GuildPoints.25Heroic.Rotface = 30
GuildPoints.25Heroic.ProfessorPutricide = 35
GuildPoints.25Heroic.BloodPrinceCouncil = 30
GuildPoints.25Heroic.BloodQueenLanathel = 35
GuildPoints.25Heroic.ValithriaDreamwalker = 30
GuildPoints.25Heroic.SindragosaDragonQueen = 35
GuildPoints.25Heroic.TheLichKing = 45

#
# Ruby Sanctum (10/25 Normal/Heroic)
#
GuildPoints.10Normal.Halion = 10
GuildPoints.25Normal.Halion = 20
GuildPoints.10Heroic.Halion = 15
GuildPoints.25Heroic.Halion = 25 